* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  background-color: rgb(35, 215, 215);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  /* padding: 15px 0; */
  font-size: 2.2em;
}

main {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: aquamarine;
  color: #000;
  padding: 15px 10px;
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card {
  width: calc(100% / 10);
  background-color: rgb(35, 215, 215);
  border: 1px solid #000;
  padding: 20px 0;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
}

.card-right {
  background-color: chartreuse;
  color: #000;
}

.card-wrong {
  background-color: red;
  color: #000;
}

footer {
  height: 10vh;
  background-color: rgb(35, 215, 215);
}
